recursive-include aeneas/res *
recursive-include aeneas/tools/res *
include aeneas_check_setup.py
recursive-include docs *
prune docs/build
include LICENSE
recursive-include licenses *
include README.md
include README.txt
include requirements.txt
recursive-include thirdparty *
include VERSION
