recursive-include aeneas/cdtw *
recursive-include aeneas/cew *
recursive-include aeneas/cfw *
recursive-include aeneas/cint *
recursive-include aeneas/cmfcc *
recursive-include aeneas/cwave *
recursive-include aeneas/extra *
prune aeneas/extra/ctw_speect
recursive-include aeneas/res *
recursive-include aeneas/syncmap *
recursive-include aeneas/tools/res *
recursive-include aeneas/ttswrappers *
include aeneas_check_setup.py
recursive-include bin *
recursive-include docs *
prune docs/build
include CHANGELOG
include LICENSE
recursive-include licenses *
include output/.gitignore
include README.md
include README.rst
include requirements.txt
include setupmeta.py
recursive-include thirdparty *
include VERSION
recursive-include wiki *
